<div class="mt-100 me-auto ms-auto pb-5" style="width: 500px;">
    <mat-card class="mat-elevation-z3">
        <mat-card-title class="text-center ps-3 pt-5 pe-3">Welcome to our social app</mat-card-title>

        <mat-card-content class="p-4">
            <form [formGroup]="loginFormGroup" (ngSubmit)="handleLogin(0)">
                <!-- Contenu spécifique à group1 -->
                <div *ngIf="group == '1'">
                    <!-- Vous pouvez ajouter du contenu personnalisé ici pour le groupe 1 -->
                    <p>Welcome to Group 1!</p>
                </div>

                <!-- Contenu spécifique à group2 -->
                <div *ngIf="group == '2'">
                    <mat-dialog-content>
                        <p>A badge system is now available! Gain experience by reporting hateful content to unlock new, amazing badges next to your name. Only visible by your friends and followers.</p>
                        <ul>
                            <li class="level-1">Level 1 : <mat-icon style="color: gray;">shield</mat-icon></li>
                            <li class="level-1">Level 2 : <mat-icon style="color: gold;">shield</mat-icon></li>
                        </ul>
                    </mat-dialog-content>
                </div>

                <!-- Contenu spécifique à group3 -->
                <div *ngIf="group == '3'">
                    <mat-dialog-content>
                        <p>A badge system is now available! Gain experience by reporting hateful content to unlock new, amazing badges next to your name.</p>
                        <ul>
                            <li class="level-1">Level 1 : <mat-icon style="color: gray;">shield</mat-icon></li>
                            <li class="level-1">Level 2 : <mat-icon style="color: gold;">shield</mat-icon></li>
                        </ul>
                    </mat-dialog-content>
                </div>

                <!-- Formulaire de connexion -->
                <mat-card-actions>
                    <button mat-raised-button color="primary" type="submit">Continue</button>
                </mat-card-actions>
            </form>
        </mat-card-content>

        <!-- Affichage de la barre de progression lors de la soumission du formulaire -->
        <mat-card-footer *ngIf="submittingForm == true">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </mat-card-footer>
    </mat-card>
</div>
