<h2 mat-dialog-title>New Update</h2>
    <mat-dialog-content>
      <p>A badge system is now available! Gain experience by reporting hateful content to unlock new, amazing badges next to your name.</p>

     <ul>
        <li class="level-1">Level 1 : <mat-icon style="color: gray;">shield</mat-icon></li>
        <li class="level-1">Level 2 : <mat-icon style="color: gold;">shield</mat-icon></li>
      </ul>
    </mat-dialog-content>
  
  <mat-dialog-actions align="end">
	<button mat-button (click)="closeDialog()">Close</button>
  </mat-dialog-actions>
  