



<div class="text-center fully-centered" *ngIf="loadingTimelinePostsInitially || loadingTimelineTagsInitially">
	<mat-spinner style="zoom: 0.5;" class="text-center ms-auto me-auto"></mat-spinner>

</div>



<div style="margin-top: 100px" *ngIf="!loadingTimelinePostsInitially && !loadingTimelineTagsInitially">



    <div class="row2 justify-content-center mt-5" (click)="openUpdateDialog()">
        <button > Update Available! Click to learn more. </button> 
    </div>
    
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-8">
                <h3 class="mat-h3 fw-500" *ngIf="isTaggedPostPage">
                    Posts with tag <i>#{{ targetTagName }}</i>
                </h3>

                <!-- Timeline posts container sans overflow-y -->
                <div class="timeline-posts">
                    <p class="fw-500 text-center" *ngIf="noPost">No Post Found</p>
                    <app-post *ngFor="let postResponse of timelinePostResponseList" 
                              id="{{'profilePost' + postResponse.post.id}}" 
                              [postResponse]="postResponse" 
                              [isDetailedPost]="false">
                    </app-post>
                </div>

                <div class="text-center mb-4" *ngIf="fetchingResult">
                    <mat-spinner style="transform: scale(0.3);" class="text-center ms-auto me-auto"></mat-spinner>
                </div>
            </div>
        </div>
    </div>
</div>
